body{
    background-color: #f9f1e3;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9400D3;
}

.centralizar{
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7a7d24; /*#3d264c*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {  /*#100716*/ 
    background-color: #b2b72f;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo{
    width: 135px;
}

img{
    border-radius: 10px;
}

.flex-container {
    display: flex;
    /*espaçamento entre as divs filhas*/
    justify-content: space-between;
    background-color: #FFF8DC;
}

.caes, .gatos, .vira-latas{
    color: #a6aa3e;
}

.beneficios {
    background: #f9f1e3;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5px;
}

.imagembeneficios {
    width: 50%;
}