*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background-color: #3B2619;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.imagem-logo{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
}

.container-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 20px;
}

.menu li{
    display: inline-block;
    margin: 0 0px;
}

.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: #E3A252;
    text-transform: arial;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
}

.menu li a:hover{
    border:1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

body{
    background-color: #F9F1E3;
}





